@using ApiCursos.models
@model AlunoModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Cadastrar Alunos e Cursos</></p>
    <span>Seu RA é: @Model.Name</span>
</div>

